<!DOCTYPE html>
<html>
  <head>
    <title>Create A New Project</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <style>
    input[type=text], input[type=string], input[type=integer], input[type=date] {
      width: 100%;
      padding: 6px 4px;
      margin: 1px 0;
      display: inline-block;
      border: 1px solid black;
      box-sizing: border-box;
      }
      button {
      width: 100%;
      padding: 10px 0;
      margin: 4px auto;
      border-radius: 60px; 
      border: none;
      background: black; 
      font-size: 20px;
      font-weight: 600;
      color: #fff;
      cursor: pointer;
      }
      button:hover {
      background: green;
      }
    </style>
    <body>

<h1 class="animate__animated animate__bounceInDown" align="center">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
  <font color="darkgreen">Edit Project</font></h1>
<h3 class="animate__animated animate__rubberBand" align="center">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <mark>Fields marked with an * are required</mark></h3>
<form class="" action="/projects/<%= @project.id %>" method="post" >
<input id="hidden" type="hidden" name="_method" value="PATCH">
    <div class="container">
    <label for="title"><strong>Title:<font color="red" size="5">*</font> </strong></label>
    <input type="string" name="title" value="<%= @project.title %>" required>
<br>
    <label for="Description"><strong>Description: <font color="red" size="5">*</font></strong></label>
    <input type="text" name="description" value="<%= @project.duration %>" required>
<br>
    <label for="completion"><strong>Complete By:<font color="red" size="5">*</font> </strong></label>
    <input type="date" name="completion" value="<%= @project.completion %>" required>
<br>
    <label for="difficulty"><strong>Difficulty: </strong></label>
    <input type="integer" name="difficulty" value="<%= @project.difficulty %>">
<br>
    <label for="duration"><strong>Estimated Duration: </strong></label>
    <input type="integer" name="duration" value="<%= @project.duration %>">
<br>
    <label for="tools"><strong>Tools Needed: </strong></label>
    <input type="string" name="tools" value="<%= @project.tools %>">
<br>
    <label for="parts"><strong>Parts Needed: </strong></label>
    <input type="string" name="parts" value="<%= @project.parts %>">
<br>
    <label for="location"><strong>Location: </strong></label>
    <input type="string" name="location" value="<%= @project.location %>">
<br>
    <label for="cost"><strong>Estimated Cost: </strong></label>
    <input type="integer" name="cost" value="<%= @project.cost %>">
    <button type="submit" value="Save Changes">Save Changes</button>
</form>
</div>
</body>
</html>
