<h1 class="animate__animated animate__bounceInDown" align="center">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    /><font color="darkblue">My Projects</font></h1>
<h3 class="animate__animated animate__rubberBand" align="center">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    /><mark>Click on a project to see more details or to edit/delete one</mark></h3>
<% @projects.each do |project| %>
    <hr style="border: 3px solid black;" />
    <h2><a href="/projects/<%= project.id %>"><%= project.title %></a></h2>
    <p><strong>Description:</strong> <%= project.description %></p>
    <p><strong>Complete By:</strong><%= project.completion %></p>
    <p><strong>Cost:</strong><%= project.cost %></p>
<% end %>
