<h1>My Projects</h1>
<h3>Click on a project to see more details or to edit/delete one</h3>
<% @projects.each do |project| %>
    <hr>
    <h2><a href="/projects/<%= project.id %>"><%= project.title %></a></h2>
    <p><strong>Description: </strong><<%= project.description %></p>
    <p><strong>Complete By:</strong><%= project.completion %></p>
    <p><strong>Cost:</strong><%= project.cost %></p>
    <p><strong>Created At: <%= project.created_at %></strong></p>
<% end %>
