<h1 class="animate__animated animate__bounceInDown" align="center">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    /><font color="darkblue"><%= @project.title %></font></h1>
<hr style="border: 3px solid black;" />
<p><strong>Description:</strong> <%= @project.description %></p>
<hr><p><strong>Complete By Date:</strong> <%= @project.completion %></p>
<hr><p><strong>Difficulty Level:</strong> <%= @project.difficulty %></p>
<hr><p><strong>Estimated Duration:</strong> <%= @project.duration %></p>
<hr><p><strong>Tools Needed:</strong> <%= @project.tools %></p>
<hr><p><strong>Parts Needed:</strong> <%= @project.parts %></p>
<hr><p><strong>Location of Project:</strong> <%= @project.location %></p>
<hr><p><strong>Estimated Cost:</strong> <%= @project.cost %></p>
<hr><p><strong>Created At:</strong> <%= @project.created_at %></p>
<hr>

<% if can_edit(@project) %>

<a href="/projects/<%= @project.id %>/edit"><strong>Edit This Project</strong></a>
<p>
<form class="" action="/projects/<%= @project.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" name="" value="Delete This Project">
</form></p>
<hr style="border: 3px solid black;" />
<br>
<p><strong><a href="/projects">Back To All My Projects</a></strong></p>
<% end %>